body {
    background-color: #FFFFFC;
}

.bg-nav {
    background-color: #B9B9B9;
}

.index-card {
    border: 1px solid #BEB7A4;
    background-color: transparent;
}

.card {
    border: none;
    background-color: transparent;
}

.caveat-text {
    font-family: Caveat;
}

.title {
    text-transform: uppercase;
    font-family: Caveat;
}

.image-container {
    position: relative;
    text-align: center;
}

.image-flash {
    /* position: justify; */
    bottom: 5%;
    min-width: 30%;
    left: -2px;
}

.author {
    color: #000;
    margin: 4px;
    text-transform: uppercase;
}

.card-img-top {
    width: 75%;
    height: 25vw;
    object-fit: cover;
}

.post-link {
    text-decoration: none;
    color: #000000;
}

.bg-footer {
    background: #D6EFFF;
}