body {
    background-color: #FFFFFC;
    font-family: 'Roboto', sans-serif;
}

/* General Site Styling */

.caveat-text {
    font-family: 'Caveat', sans-serif;
}

.brand {
    text-transform: uppercase;
    font-family: 'Caveat', sans-serif;
    text-decoration: underline #E01616;
    color: #000;
}

/* Index */

.index-card {
    border: 1px solid #000;
    background-color: transparent;
}

.index-brand {
    color: #000;
    text-decoration: none;
}

.image-flash {
    bottom: 5%;
    min-width: 30%;
    left: -2px;
}

.author {
    color: #000;
    margin: 4px;
    text-transform: uppercase;
}

/* Recipe Detail Page */

.card {
    border: none;
    background-color: transparent;
}

/* Images */

.card-img-top {
    width: 75%;
    height: 25vw;
    object-fit: cover;
}

.image-container {
    position: relative;
    text-align: center;
}

