body {
    background-color: #F8F8FF;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    /* position: relative; */
    text-align: center;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.card-img-top {
    width: 75%;
    height: 25vw;
    object-fit: cover;
}

.post-link {
    text-decoration: none;
    color: #000000;
}