{% extends "base.html" %}
{% block title %}About Us{% endblock %}

{% block content %}

<!-- About -->
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="caveat-text">The Recipe Hotspot</h1>
            <h2>About Us</h2>
        </div>
        <div class="col-6 m-auto">
            <p>The Recipe Hotspot was created as a recipe site where you can find all your favourite recipes in one place.</p>
            <p>We encourage users to upload recipes of all food genres, with the aim of providing inspiration for tasty food
                from all cultures , religions, food groups and dietary requirements.
            </p>
            <p>We look forward to reading your recipes!</p>
        </div>
    </div>
</div>

{% endblock %}