{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}

<div class="container">
    <h1 class="text-center">Add Recipe</h1>
    <div class="row">
        <div class="col">
            <form action="{% url 'add_recipe' %}" method="POST" enctype="multipart/form-data">
                {{ recipe_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}