{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load cloudinary %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="col-4">
            {% if "placeholder" in recipe.featured_image.url %}
            <img class="card-img-top" src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
                alt="placeholder">
            {% else %}
            <img class="card-img-top" src=" {{ recipe.featured_image.url }}">
            {% endif %}
        </div>
        <div class="col-6">
            <h2 class="post-title">{{ recipe.title }}</h2>
            <p>{{ recipe.excerpt }}</p>
            <p>Recipe by {{ recipe.author }} on {{recipe.created_on }}</p>
        </div>
    </div>
    <div class="row">
        <h3>Recipe Ingredients</h3>
        <div>{{ recipe.ingredients | safe }}</div>
    </div>
    <div class="row">
        <h3>Recipe Instructions</h3>
        <p>{{ recipe.instructions | safe }}</p>
    </div>
    {% if user.is_authenticated %}
    {% if user.id == recipe.author.id %}
    <div class="row">
        <div class="col-6">
            <h5>Update or Delete your recipe:</h5>
            <p class="edit-delete">
                <a href="{% url 'edit_recipe' recipe.slug %}"><button
                    class="btn btn-outline-success edit-recipe"><i class="fa-solid fa-pen-to-square"></i> Edit</button></i></a>
                <a href="{% url 'delete_recipe' recipe.slug %}"><button class="btn btn-outline-danger"><i class="fa-solid fa-dumpster"></i> Delete</button></a>
            </p>
        </div>
    </div>
    {% endif %}
    {% endif %}
    <hr>
    <div class="row">
        
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md card mb-4 mt-3">
            <div class="card-body">
                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as : {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}
            </div>
            
        </div>
    </div>
</div>

{% endblock %}