{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load cloudinary %}
{% block title %}Recipe Detail{% endblock %}

{% block content %}

<div class="container-fluid mt-5">

    <div class="row">
        <div class="col-4">
            {% if "placeholder" in recipe.featured_image.url %}
            <img class="card-img-top" src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
                alt="placeholder">
            {% else %}
            <img class="card-img-top" src=" {{ recipe.featured_image.url }}">
            {% endif %}
        </div>
        <div class="col-6">
            <h2 class="brand">{{ recipe.title }}</h2>
            <p>{{ recipe.excerpt }}</p>
            <p>Cooking Time: {{ recipe.cooking_time }} mins.</p>
            <p>Meal Type: {{recipe.meal_type}}</p>
            <p>Meal Tags: {{recipe.meal_tags}}</p>
            <p>Recipe by {{ recipe.author }} on {{recipe.created_on }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-md-1">
            <h3 class="brand">Recipe Ingredients</h3>
            <div>{{ recipe.ingredients | safe }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-md-1">
            <h3 class="brand">Recipe Instructions</h3>
            <p>{{ recipe.instructions | safe }}</p>
        </div>
    </div>
    <div class="row">

        <div class="col-1">
            <strong>
                {% if user.is_authenticated %}
                <form action="{% url 'recipe_like' recipe.slug %}" class="d-inline" method="POST">
                    {% csrf_token %}
                    {% if liked %}

                    <button type="submit" name="blogpost_id" value="{recipe.slug}}" class="btn-like"><i
                            class="fas fa-heart"></i></button>

                    {% else %}

                    <button type="submit" name="blogpost_id" value="{{recipe.slug}}" class="btn btn-like"><i
                            class="far fa-heart"></i></button>

                    {% endif %}

                </form>
                {% else %}

                <span class="text-secondary"><i class="far fa-heart"></i></span>
                {% endif %}
                <span class="text-secondary">{{ recipe.number_of_likes }}</span>
            </strong>

        </div>
        <div class="col-1">
            {% with comments.count as total_comments %}
            <strong class="text-secondary"><i class="far fa-comments"></i>
                <!-- Our total_comments variable goes before the closing strong tag -->
                {{ total_comments}}</strong>
            {% endwith %}
        </div>
    </div>
    {% if user.is_authenticated %}
    {% if user.id == recipe.author.id %}
    <div class="row">
        <div class="col-6">
            <h5>Update or Delete your recipe:</h5>
            <p class="edit-delete">
                <a href="{% url 'edit_recipe' recipe.slug %}"><button class="btn btn-outline-success edit-recipe"><i
                            class="fa-solid fa-pen-to-square"></i> Edit</button></i></a>
                <a href="{% url 'delete_recipe' recipe.slug %}"><button class="btn btn-outline-danger"><i
                            class="fa-solid fa-dumpster"></i> Delete</button></a>
            </p>
        </div>
    </div>
    {% endif %}
    {% endif %}
    <hr>
    <div class="row">

        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% if request.user == comment.name %}
                <a href="{% url 'delete_comment' comment.id %}"><button class="btn btn-outline-danger"><i
                    class="fa-solid fa-dumpster"></i> Delete</button></a>
                <!-- <form method="POST" action="{% url 'delete_comment' comment.pk %}">
                    {% csrf_token %}
                    <button class="btn btn-outline-danger"><i
                        class="fa-solid fa-dumpster"></i> Delete</button>
                </form> -->
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-md card mb-4 mt-3">
            <div class="card-body">
                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as : {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-success btn-lg">Submit</button>
                </form>
                {% endif %}
            </div>

        </div>
    </div>
</div>

{% endblock %}